@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("../scss/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../scss/fonts/slick.eot");
  src: url("../scss/fonts/slick.eot?#iefix") format("embedded-opentype"), url("../scss/fonts/slick.woff") format("woff"), url("../scss/fonts/slick.ttf") format("truetype"), url("../scss/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@font-face {
  font-family: 'Lato-Medium';
  src: url("/Resources/fonts/Lato-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Regular";
  src: url(/Resources/fonts/Montserrat-Regular.otf) format("truetype"); }

@font-face {
  font-family: "font-awesome";
  src: url(/Resources/fonts/fontAwesome/fontawesome-webfont.ttf) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff2) format("truetype"); }

body {
  background: url("/Resources/images/main-bg.png") fixed;
  background-size: cover; }
  body h2 {
    margin: 0 !important; }
  body .section-content {
    width: 1300px !important;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat-Regular" !important;
    overflow: hidden; }
    body .section-content.product {
      padding: 5rem 0; }
  body .header-content {
    top: 0;
    width: 100%; }
  body .footer-content {
    width: 100%;
    min-height: 70px;
    height: auto;
    overflow: hidden;
    background-color: #2c2c2c;
    color: black; }
    body .footer-content .center-social {
      text-align: center; }
      body .footer-content .center-social > div {
        display: inline-block; }
        body .footer-content .center-social > div .facebook, body .footer-content .center-social > div .insta {
          font-size: 18px;
          display: block;
          text-decoration: none;
          color: #e5d9be;
          border: 2px solid #e5d9be;
          border-radius: 100px;
          width: 30px;
          height: 30px;
          text-align: center;
          float: left;
          margin-top: 2rem;
          transition: all .3s;
          position: relative; }
          body .footer-content .center-social > div .facebook:before, body .footer-content .center-social > div .insta:before {
            font-family: "font-awesome";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
          body .footer-content .center-social > div .facebook:hover, body .footer-content .center-social > div .insta:hover {
            background-color: #e5d9be;
            color: #393E46;
            transition: all .3s; }
        body .footer-content .center-social > div .facebook {
          margin-right: .5rem; }
          body .footer-content .center-social > div .facebook:before {
            content: '\f09a'; }
        body .footer-content .center-social > div .insta:before {
          content: '\f16d'; }
    body .footer-content span {
      display: inline-block;
      text-align: center;
      line-height: 70px;
      color: #e5d9be;
      font-size: 14px; }
    body .footer-content__copy {
      width: 100%; }
    body .footer-content__developer {
      width: 100%; }
      body .footer-content__developer a {
        color: #e5d9be;
        text-decoration: underline; }
        body .footer-content__developer a:hover {
          color: #e5d9be;
          text-decoration: none; }
    body .footer-content__logo {
      width: 150px !important;
      margin: 0 auto;
      margin-top: 10px;
      cursor: pointer;
      transition: all 0.3s;
      transform: scale(0.8, 0.8); }
      body .footer-content__logo:hover {
        transition: all 0.3s;
        transform: scale(0.9, 0.9); }

@media screen and (max-width: 1300px) {
  body {
    background-position-x: -60px; }
    body .section-content {
      width: 100% !important;
      margin: 0 auto !important;
      transition: all 0.3s;
      padding: 0 40px !important; } }

@media screen and (max-width: 670px) {
  body {
    background-position-x: -120px !important; } }

@media screen and (max-width: 478px) {
  body .section-content {
    padding: 0 !important;
    max-width: 478px;
    width: 100%; } }

@font-face {
  font-family: 'Lato-Medium';
  src: url("/Resources/fonts/Lato-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Regular";
  src: url(/Resources/fonts/Montserrat-Regular.otf) format("truetype"); }

@font-face {
  font-family: "font-awesome";
  src: url(/Resources/fonts/fontAwesome/fontawesome-webfont.ttf) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff2) format("truetype"); }

.submit-btn {
  width: 200px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 2px;
  border: none;
  background-color: #393E46;
  color: #c28800;
  transition: all 0.3s; }
  .submit-btn:hover {
    transition: all 0.3s;
    color: #f5ac00;
    background-color: #505762;
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75); }

button:focus, input:focus {
  outline: none; }

#nav-icon4 {
  display: block;
  width: 60px;
  height: 45px;
  position: relative;
  margin: 10px auto;
  float: right;
  margin-right: 1rem;
  -webkit-transform: rotate(0deg) scale(0.8, 0.8);
  -moz-transform: rotate(0deg) scale(0.8, 0.8);
  -o-transform: rotate(0deg) scale(0.8, 0.8);
  transform: rotate(0deg) scale(0.8, 0.8);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #c28800;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }
  #nav-icon4 span:hover {
    background: #f5ac00;
    transition: .3s all; }

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px; }

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px; }

@font-face {
  font-family: 'Lato-Medium';
  src: url("/Resources/fonts/Lato-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Regular";
  src: url(/Resources/fonts/Montserrat-Regular.otf) format("truetype"); }

@font-face {
  font-family: "font-awesome";
  src: url(/Resources/fonts/fontAwesome/fontawesome-webfont.ttf) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff2) format("truetype"); }

body {
  background: url("/Resources/images/main-bg.png") fixed;
  background-size: cover; }
  body h2 {
    margin: 0 !important; }
  body .section-content {
    width: 1300px !important;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat-Regular" !important;
    overflow: hidden; }
    body .section-content.product {
      padding: 5rem 0; }
  body .header-content {
    top: 0;
    width: 100%; }
  body .footer-content {
    width: 100%;
    min-height: 70px;
    height: auto;
    overflow: hidden;
    background-color: #2c2c2c;
    color: black; }
    body .footer-content .center-social {
      text-align: center; }
      body .footer-content .center-social > div {
        display: inline-block; }
        body .footer-content .center-social > div .facebook, body .footer-content .center-social > div .insta {
          font-size: 18px;
          display: block;
          text-decoration: none;
          color: #e5d9be;
          border: 2px solid #e5d9be;
          border-radius: 100px;
          width: 30px;
          height: 30px;
          text-align: center;
          float: left;
          margin-top: 2rem;
          transition: all .3s;
          position: relative; }
          body .footer-content .center-social > div .facebook:before, body .footer-content .center-social > div .insta:before {
            font-family: "font-awesome";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
          body .footer-content .center-social > div .facebook:hover, body .footer-content .center-social > div .insta:hover {
            background-color: #e5d9be;
            color: #393E46;
            transition: all .3s; }
        body .footer-content .center-social > div .facebook {
          margin-right: .5rem; }
          body .footer-content .center-social > div .facebook:before {
            content: '\f09a'; }
        body .footer-content .center-social > div .insta:before {
          content: '\f16d'; }
    body .footer-content span {
      display: inline-block;
      text-align: center;
      line-height: 70px;
      color: #e5d9be;
      font-size: 14px; }
    body .footer-content__copy {
      width: 100%; }
    body .footer-content__developer {
      width: 100%; }
      body .footer-content__developer a {
        color: #e5d9be;
        text-decoration: underline; }
        body .footer-content__developer a:hover {
          color: #e5d9be;
          text-decoration: none; }
    body .footer-content__logo {
      width: 150px !important;
      margin: 0 auto;
      margin-top: 10px;
      cursor: pointer;
      transition: all 0.3s;
      transform: scale(0.8, 0.8); }
      body .footer-content__logo:hover {
        transition: all 0.3s;
        transform: scale(0.9, 0.9); }

@media screen and (max-width: 1300px) {
  body {
    background-position-x: -60px; }
    body .section-content {
      width: 100% !important;
      margin: 0 auto !important;
      transition: all 0.3s;
      padding: 0 40px !important; } }

@media screen and (max-width: 670px) {
  body {
    background-position-x: -120px !important; } }

@media screen and (max-width: 478px) {
  body .section-content {
    padding: 0 !important;
    max-width: 478px;
    width: 100%; } }

.demand-section {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #393E46;
  border-top-left-radius: 10em;
  padding: 50px 0 100px 0; }
  .demand-section__title {
    display: block;
    width: 100%;
    color: #c28800;
    font-size: 30px;
    font-weight: 600;
    padding: 50px 0;
    padding-top: 150px !important;
    text-transform: uppercase; }
  .demand-section__text {
    display: inline-block;
    color: #e5d9be;
    font-size: 18px;
    padding: 0 200px; }

.contact-section {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #222831;
  border-top-left-radius: 10em; }
  .contact-section .contact-form {
    padding-top: 50px;
    padding-bottom: 100px;
    height: auto;
    overflow: hidden; }
    .contact-section .contact-form .validation-message {
      font-size: 18px;
      margin-bottom: 0 !important;
      color: rgba(214, 19, 19, 0.84); }
    .contact-section .contact-form .questions {
      margin: 0 auto; }
      .contact-section .contact-form .questions h2 {
        cursor: pointer;
        font-size: 18px !important;
        padding-bottom: 0 !important; }
      .contact-section .contact-form .questions .question-name {
        border-bottom: 1px solid #e5d9be;
        text-align: center;
        color: #e5d9be;
        line-height: 32px; }
      .contact-section .contact-form .questions .question-body {
        display: block; }
        .contact-section .contact-form .questions .question-body .demand-products {
          width: 100%;
          margin-top: 17px; }
          .contact-section .contact-form .questions .question-body .demand-products .button-overlay {
            margin-bottom: 15px;
            height: 35px; }
            .contact-section .contact-form .questions .question-body .demand-products .button-overlay .text {
              color: #c28800;
              background-color: transparent;
              display: block;
              border-radius: 2px;
              width: 100%;
              text-align: center;
              line-height: 35px;
              position: relative;
              top: -35px; }
            .contact-section .contact-form .questions .question-body .demand-products .button-overlay .button {
              width: 100%;
              height: 35px;
              background-color: transparent;
              background: no-repeat fixed;
              background-size: 100% !important;
              border: none;
              border-radius: 2px;
              padding: 0; }
              .contact-section .contact-form .questions .question-body .demand-products .button-overlay .button.product1 {
                background: url(/Resources/images/Demand/exterier-poptavka-grey.jpg) no-repeat; }
              .contact-section .contact-form .questions .question-body .demand-products .button-overlay .button.product2 {
                background: url(/Resources/images/Demand/interier-poptavka-grey.jpg) no-repeat; }
              .contact-section .contact-form .questions .question-body .demand-products .button-overlay .button.product3 {
                background: url(/Resources/images/Demand/strechy-poptavka-grey.jpg) no-repeat; }
            .contact-section .contact-form .questions .question-body .demand-products .button-overlay:hover {
              cursor: pointer;
              transition: all 0.3s; }
              .contact-section .contact-form .questions .question-body .demand-products .button-overlay:hover .text {
                transition: all 0.3s;
                background-color: rgba(0, 0, 0, 0.5); }
              .contact-section .contact-form .questions .question-body .demand-products .button-overlay:hover .button {
                transition: all 0.3s;
                background-size: 100% !important;
                -webkit-box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.75); }
                .contact-section .contact-form .questions .question-body .demand-products .button-overlay:hover .button.product1 {
                  background: url(/Resources/images/Demand/exterier-poptavka.jpg) no-repeat; }
                .contact-section .contact-form .questions .question-body .demand-products .button-overlay:hover .button.product2 {
                  background: url(/Resources/images/Demand/interier-poptavka.jpg) no-repeat; }
                .contact-section .contact-form .questions .question-body .demand-products .button-overlay:hover .button.product3 {
                  background: url(/Resources/images/Demand/strechy-poptavka.jpg) no-repeat; }
    .contact-section .contact-form table {
      width: 100%; }
    .contact-section .contact-form__input {
      border-radius: 2px;
      padding: 5px 10px;
      border: none;
      background-color: #e5d9be;
      color: #393E46;
      margin-bottom: 15px;
      font-size: 18px;
      width: 100%; }
      .contact-section .contact-form__input::-webkit-input-placeholder {
        color: #99a6b9;
        font-size: 18px; }
      .contact-section .contact-form__input:-moz-placeholder {
        /* Firefox 18- */
        color: #99a6b9;
        font-size: 18px; }
      .contact-section .contact-form__input::-moz-placeholder {
        /* Firefox 19+ */
        color: #99a6b9;
        font-size: 18px; }
      .contact-section .contact-form__input:-ms-input-placeholder {
        color: #99a6b9;
        font-size: 18px; }
      .contact-section .contact-form__input:focus {
        outline: none; }
    .contact-section .contact-form__message {
      margin: 20px 0;
      width: 100%;
      padding: 10px;
      min-height: 200px;
      border-radius: 2px;
      background-color: #e5d9be;
      color: #393E46;
      font-size: 18px; }
      .contact-section .contact-form__message::-webkit-input-placeholder {
        color: #99a6b9; }
      .contact-section .contact-form__message:-moz-placeholder {
        /* Firefox 18- */
        color: #99a6b9; }
      .contact-section .contact-form__message::-moz-placeholder {
        /* Firefox 19+ */
        color: #99a6b9; }
      .contact-section .contact-form__message:-ms-input-placeholder {
        color: #99a6b9; }
      .contact-section .contact-form__message:focus {
        outline: none; }

@media screen and (max-width: 991px) {
  .demand-section__text {
    padding: 0; }
  .demand-section .contact-section .help-column {
    display: none !important; } }

@media screen and (max-width: 478px) {
  .demand-section__form__input-box {
    width: 100%; } }

@font-face {
  font-family: 'Lato-Medium';
  src: url("/Resources/fonts/Lato-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Regular";
  src: url(/Resources/fonts/Montserrat-Regular.otf) format("truetype"); }

@font-face {
  font-family: "font-awesome";
  src: url(/Resources/fonts/fontAwesome/fontawesome-webfont.ttf) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff2) format("truetype"); }

body {
  background: url("/Resources/images/main-bg.png") fixed;
  background-size: cover; }
  body h2 {
    margin: 0 !important; }
  body .section-content {
    width: 1300px !important;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat-Regular" !important;
    overflow: hidden; }
    body .section-content.product {
      padding: 5rem 0; }
  body .header-content {
    top: 0;
    width: 100%; }
  body .footer-content {
    width: 100%;
    min-height: 70px;
    height: auto;
    overflow: hidden;
    background-color: #2c2c2c;
    color: black; }
    body .footer-content .center-social {
      text-align: center; }
      body .footer-content .center-social > div {
        display: inline-block; }
        body .footer-content .center-social > div .facebook, body .footer-content .center-social > div .insta {
          font-size: 18px;
          display: block;
          text-decoration: none;
          color: #e5d9be;
          border: 2px solid #e5d9be;
          border-radius: 100px;
          width: 30px;
          height: 30px;
          text-align: center;
          float: left;
          margin-top: 2rem;
          transition: all .3s;
          position: relative; }
          body .footer-content .center-social > div .facebook:before, body .footer-content .center-social > div .insta:before {
            font-family: "font-awesome";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
          body .footer-content .center-social > div .facebook:hover, body .footer-content .center-social > div .insta:hover {
            background-color: #e5d9be;
            color: #393E46;
            transition: all .3s; }
        body .footer-content .center-social > div .facebook {
          margin-right: .5rem; }
          body .footer-content .center-social > div .facebook:before {
            content: '\f09a'; }
        body .footer-content .center-social > div .insta:before {
          content: '\f16d'; }
    body .footer-content span {
      display: inline-block;
      text-align: center;
      line-height: 70px;
      color: #e5d9be;
      font-size: 14px; }
    body .footer-content__copy {
      width: 100%; }
    body .footer-content__developer {
      width: 100%; }
      body .footer-content__developer a {
        color: #e5d9be;
        text-decoration: underline; }
        body .footer-content__developer a:hover {
          color: #e5d9be;
          text-decoration: none; }
    body .footer-content__logo {
      width: 150px !important;
      margin: 0 auto;
      margin-top: 10px;
      cursor: pointer;
      transition: all 0.3s;
      transform: scale(0.8, 0.8); }
      body .footer-content__logo:hover {
        transition: all 0.3s;
        transform: scale(0.9, 0.9); }

@media screen and (max-width: 1300px) {
  body {
    background-position-x: -60px; }
    body .section-content {
      width: 100% !important;
      margin: 0 auto !important;
      transition: all 0.3s;
      padding: 0 40px !important; } }

@media screen and (max-width: 670px) {
  body {
    background-position-x: -120px !important; } }

@media screen and (max-width: 478px) {
  body .section-content {
    padding: 0 !important;
    max-width: 478px;
    width: 100%; } }

.banner-section {
  background-color: transparent;
  width: 100%;
  min-height: 650px;
  height: auto;
  overflow: hidden; }
  .banner-section .banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center; }
    .banner-section .banner-content__title {
      color: #c28800;
      display: block;
      font-size: 4vw;
      margin-top: 250px;
      font-family: "Montserrat-Regular" !important; }
    .banner-section .banner-content__subtitle {
      display: block;
      padding-top: 50px;
      margin: 0 auto;
      color: #c28800;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      font-family: "Montserrat-Regular" !important; }

.about-section {
  width: 100%;
  height: auto;
  background-color: #222831;
  text-align: center;
  padding-bottom: 100px;
  border-bottom-right-radius: 10em; }
  .about-section__title {
    display: inline-block;
    color: #c28800;
    font-size: 30px;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 25px;
    text-transform: uppercase; }
  .about-section__text {
    display: inline-block;
    color: #e5d9be;
    font-size: 18px;
    padding: 0 100px;
    line-height: 25px; }

.products-section {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #393E46;
  border-top-left-radius: 10em;
  border-bottom-right-radius: 10em; }
  .products-section__title {
    display: block;
    width: 100%;
    color: #c28800;
    font-size: 30px;
    font-weight: 600;
    padding: 50px 0;
    text-transform: uppercase; }
  .products-section .content-wrapper {
    height: auto;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 100px; }
    .products-section .content-wrapper__title {
      display: block;
      color: transparent;
      font-size: 30px;
      font-weight: bold;
      z-index: 5;
      display: block;
      line-height: 290px;
      position: absolute;
      left: 25px;
      right: 25px;
      height: 290px;
      border: 5px solid #222831;
      border-top-left-radius: 2em;
      border-bottom-right-radius: 2em; }
      .products-section .content-wrapper__title:hover {
        color: #c28800;
        background-color: rgba(0, 0, 0, 0.6);
        transition: all 0.5s;
        cursor: pointer;
        text-decoration: none; }
    .products-section .content-wrapper__image {
      width: 100%;
      height: 290px;
      transition: 0.3s;
      cursor: pointer;
      opacity: 0.8;
      border-top-left-radius: 4.3em;
      border-bottom-right-radius: 4.3em; }
    .products-section .content-wrapper__description-title {
      display: block;
      color: #c28800;
      font-size: 30px;
      padding: 25px 0; }
    .products-section .content-wrapper__description {
      display: block;
      color: #e5d9be;
      font-size: 18px; }

.contact-section {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #222831;
  border-top-left-radius: 10em; }
  .contact-section__title {
    display: block;
    width: 100%;
    color: #c28800;
    font-size: 30px;
    font-weight: 600;
    padding: 50px 0;
    text-transform: uppercase; }
  .contact-section__text {
    display: inline-block;
    color: #e5d9be;
    font-size: 18px;
    padding: 0 200px; }
  .contact-section .center-div .contact-wrapper {
    margin: 100px 250px;
    min-height: initial;
    overflow: hidden;
    text-align: center; }
  .contact-section .contact-wrapper {
    text-align: center;
    min-height: 350px;
    padding: 30px 50px;
    background-color: #393E46;
    margin: 100px 50px;
    margin-bottom: 0px;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    -webkit-box-shadow: 0px 0px 23px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 23px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 23px 7px rgba(0, 0, 0, 0.75); }
    .contact-section .contact-wrapper__image {
      max-width: 150px;
      max-height: 150px;
      margin: 0 auto;
      margin-bottom: 20px !important; }
    .contact-section .contact-wrapper__name {
      font-size: 20px;
      color: #c28800;
      display: block;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .contact-section .contact-wrapper__email, .contact-section .contact-wrapper__phone {
      display: block;
      width: 230px;
      margin-bottom: 10px !important;
      font-size: 18px;
      line-height: 30px;
      color: #e5d9be;
      text-align: left;
      padding-left: 40px;
      margin: 0 auto; }
    .contact-section .contact-wrapper__email {
      background: url(/Resources/images/Icons/mail_ico.png) no-repeat left; }
    .contact-section .contact-wrapper__phone {
      background: url(/Resources/images/Icons/phone_ico.png) no-repeat left; }
    .contact-section .contact-wrapper__about {
      display: block;
      margin-bottom: 10px;
      font-size: 18px;
      color: #e5d9be;
      text-align: left;
      padding-left: 115px; }
      .contact-section .contact-wrapper__about.no-padding {
        padding: 0 !important;
        text-align: center; }
    .contact-section .contact-wrapper__about-item {
      max-width: 250px;
      display: block;
      margin: 5px 0 5px 75px;
      font-size: 18px;
      color: #e5d9be;
      background: url(/Resources/images/Icons/dot-active.svg) no-repeat left;
      text-align: left;
      padding-left: 25px; }

.smallbanner-section {
  background-color: transparent;
  height: 150px; }
  .smallbanner-section__title {
    color: #c28800;
    font-size: 30px;
    line-height: 150px;
    text-transform: uppercase; }

.projects-section {
  height: auto;
  overflow: hidden;
  background-color: #393E46;
  border-bottom-right-radius: 10em;
  padding: 50px 0; }
  .projects-section .content-wrapper .desc1 {
    padding-top: 40px; }
  .projects-section .content-wrapper__title {
    color: #c28800;
    font-size: 30px;
    display: block;
    padding-bottom: 35px;
    text-transform: uppercase; }
  .projects-section .content-wrapper__project-detail {
    display: block;
    width: 200px;
    text-align: left;
    margin: 0 auto;
    padding-left: 25px;
    height: 50px;
    line-height: 50px;
    color: #e5d9be;
    font-size: 18px;
    background: url(/Resources/images/Icons/dot-active.svg) no-repeat left; }
  .projects-section .content-wrapper__description {
    color: #e5d9be;
    font-size: 18px;
    display: block;
    padding-bottom: 35px; }
  .projects-section .content-wrapper .image-container {
    height: 200px;
    position: relative; }
    .projects-section .content-wrapper .image-container img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-top-left-radius: 2.3em;
      border-bottom-right-radius: 2.3em;
      border: 5px solid #222831; }

@media screen and (max-width: 1300px) {
  .banner-section .banner-content__title {
    font-size: 6vw; }
  .contact-section .contact-wrapper {
    padding-left: 20px !important; }
  .contact-section .center-div .contact-wrapper {
    margin: 100px !important; }
    .contact-section .center-div .contact-wrapper__about-item {
      margin-left: 0 !important; } }

@media screen and (max-width: 991px) {
  .banner-section .banner-content {
    width: auto; }
    .banner-section .banner-content__title {
      margin-top: 100px !important;
      padding-top: 100px;
      height: 100px;
      line-height: 100px;
      font-size: 7vw; }
    .banner-section .banner-content__subtitle {
      padding-top: 150px; }
  .products-section {
    border-bottom-right-radius: 5em; }
    .products-section .content-wrapper {
      margin-bottom: 3rem; }
      .products-section .content-wrapper__title {
        max-width: 500px !important;
        margin: 0 auto; }
      .products-section .content-wrapper__image {
        max-width: 500px; }
  .projects-section {
    border-bottom-right-radius: 5em; }
    .projects-section .second-container {
      margin-top: 3rem; }
    .projects-section .content-wrapper .desc1 {
      padding-top: 0 !important; }
    .projects-section .content-wrapper .image-container {
      height: auto;
      height: 210px !important;
      overflow: hidden;
      margin: 20px 0; }
    .projects-section .content-wrapper .single-item {
      max-width: 500px !important;
      width: auto;
      height: 290px !important; }
      .projects-section .content-wrapper .single-item .slick-slide {
        height: 290px !important; }
        .projects-section .content-wrapper .single-item .slick-slide img {
          max-width: 480px !important;
          width: auto;
          height: 290px !important;
          margin: 0 auto !important; }
      .projects-section .content-wrapper .single-item .slick-next {
        right: -15px !important; }
    .projects-section .content-wrapper__project-detail {
      display: none; }
  .about-section {
    border-bottom-right-radius: 5em;
    padding-bottom: 3rem; }
    .about-section__title {
      padding-top: 3rem; }
  .contact-section {
    border-top-left-radius: 5em; }
    .contact-section__title {
      padding-bottom: 1rem; }
    .contact-section__text {
      padding: 0;
      padding-bottom: 2rem; }
    .contact-section .contact-wrapper {
      text-align: center;
      padding: 30px 0 !important;
      margin: 2.5rem 0; }
      .contact-section .contact-wrapper__email, .contact-section .contact-wrapper__phone {
        width: 95% !important;
        text-align: center; }
      .contact-section .contact-wrapper__about {
        text-align: center !important;
        padding: 0 !important; }
    .contact-section .center-div {
      margin-top: 2.5rem; }
      .contact-section .center-div .contact-wrapper {
        margin: 0 !important;
        margin-bottom: 100px !important; }
        .contact-section .center-div .contact-wrapper__about-item {
          max-width: 260px !important;
          margin: 0 auto !important;
          display: block;
          text-align: center !important; } }

@media screen and (max-width: 478px) {
  .banner-section {
    min-height: 400px !important; }
    .banner-section .banner-content__title {
      margin-top: 0 !important;
      font-size: 10vw; }
    .banner-section .banner-content__subtitle {
      padding-top: 100px;
      font-size: 5vw; }
  .about-section__text {
    padding: 0 2rem !important; }
  .products-section__title {
    padding: 3rem 2rem; }
  .products-section .content-wrapper__title {
    height: 200px !important;
    line-height: 200px !important; }
  .products-section .content-wrapper__image {
    height: 200px !important; }
  .smallbanner-section__title {
    font-size: 8vw; }
  .projects-section .section-content {
    padding: 0 !important; }
    .projects-section .section-content .content-wrapper .image-container {
      margin: 0; }
      .projects-section .section-content .content-wrapper .image-container .slider .slick-slide.slick-current.slick-active {
        width: auto !important;
        margin: 0 !important; }
        .projects-section .section-content .content-wrapper .image-container .slider .slick-slide.slick-current.slick-active img {
          height: 200px !important; } }

@font-face {
  font-family: 'Lato-Medium';
  src: url("/Resources/fonts/Lato-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Regular";
  src: url(/Resources/fonts/Montserrat-Regular.otf) format("truetype"); }

@font-face {
  font-family: "font-awesome";
  src: url(/Resources/fonts/fontAwesome/fontawesome-webfont.ttf) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff2) format("truetype"); }

.navigation-bar {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: #2c2c2c;
  position: fixed;
  display: inline-block;
  border-bottom: 5px solid #c28800;
  transition: 0.3s;
  font-family: "Montserrat-Regular";
  z-index: 10; }
  .navigation-bar.small {
    height: 70px;
    transition: 0.3s; }
    .navigation-bar.small li:first-child a {
      width: 150px !important;
      height: 60px !important;
      transform: scale(0.7, 0.7);
      transition: all 0.3s; }
      .navigation-bar.small li:first-child a:hover {
        border: none !important;
        transform: scale(0.8, 0.8);
        transition: all 0.3s; }
    .navigation-bar.small a {
      line-height: 65px;
      transition: 0.3s;
      font-size: 18px;
      cursor: pointer; }
  .navigation-bar ul {
    list-style: none;
    display: block; }
    .navigation-bar ul li:first-child a {
      transition: all 0.3s;
      transform: scale(0.7, 0.7); }
      .navigation-bar ul li:first-child a:hover {
        border-bottom: none !important;
        transition: all 0.3s;
        transform: scale(0.8, 0.8); }
    .navigation-bar ul li:first-child.active a {
      color: transparent;
      border-bottom: none;
      transition: all 0.3s; }
    .navigation-bar ul li.active a {
      color: #c28800;
      border-bottom: 5px solid #393E46;
      transition: all 0.3s; }
    .navigation-bar ul li a {
      width: 120px;
      display: block;
      text-align: center;
      text-decoration: none;
      color: #e5d9be;
      font-size: 20px;
      text-decoration: none;
      font-weight: 500;
      line-height: 95px;
      transition: color 0.3s;
      transition: 0.3s;
      cursor: pointer; }
      .navigation-bar ul li a:hover {
        color: #c28800;
        border-bottom: 5px solid #393E46;
        transition: color 0.3s; }
  .navigation-bar .menu-mobile {
    display: none; }
  .navigation-bar .menu {
    width: 100% !important;
    margin: 0 auto !important;
    transition: all 0.3s;
    padding: 0 2rem;
    position: relative;
    z-index: 11; }
    .navigation-bar .menu li {
      float: left; }
      .navigation-bar .menu li.sub-menu-li {
        position: relative;
        z-index: 999; }
        .navigation-bar .menu li.sub-menu-li:hover .sub-menu {
          display: block; }
        .navigation-bar .menu li.sub-menu-li .sub-menu {
          min-width: 200px;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #2c2c2c;
          display: none;
          padding: 10px; }
          .navigation-bar .menu li.sub-menu-li .sub-menu:hover {
            margin-top: 5px; }
          .navigation-bar .menu li.sub-menu-li .sub-menu li {
            height: 40px;
            width: 100%;
            transition: all .3s; }
            .navigation-bar .menu li.sub-menu-li .sub-menu li:first-child a {
              transform: scale(1, 1); }
              .navigation-bar .menu li.sub-menu-li .sub-menu li:first-child a:hover {
                transform: scale(1, 1); }
            .navigation-bar .menu li.sub-menu-li .sub-menu li:hover {
              transition: all .3s; }
              .navigation-bar .menu li.sub-menu-li .sub-menu li:hover a {
                color: #c28800;
                border-bottom: none !important; }
            .navigation-bar .menu li.sub-menu-li .sub-menu li a {
              color: #e5d9be;
              text-align: center;
              line-height: 40px;
              height: 40px !important;
              width: 100%;
              border-bottom: none; }
          .navigation-bar .menu li.sub-menu-li .sub-menu li:first-child {
            margin-right: 0 !important; }
            .navigation-bar .menu li.sub-menu-li .sub-menu li:first-child a {
              background: none;
              width: 100% !important; }
      .navigation-bar .menu li:nth-child(5), .navigation-bar .menu li:nth-child(6) {
        float: right; }
      .navigation-bar .menu li:first-child {
        margin-right: 30px; }
        .navigation-bar .menu li:first-child a {
          width: 230px;
          height: 90px;
          background-image: url("/Resources/images/Icons/logo-new.png");
          background-repeat: no-repeat;
          background-size: 100%;
          background-position-y: 50%;
          color: transparent;
          cursor: pointer; }
          .navigation-bar .menu li:first-child a:hover {
            border-color: transparent; }
    .navigation-bar .menu .mobile-nav {
      display: none; }

@media screen and (max-width: 991px) {
  .navigation-bar {
    height: 70px;
    transition: 0.3s;
    background-color: #2c2c2c; }
    .navigation-bar li {
      line-height: 65px !important; }
      .navigation-bar li.sub-menu-li:hover .sub-menu {
        display: none !important; }
    .navigation-bar li:first-child a {
      width: 150px !important;
      height: 60px !important;
      transition: 0.3s; }
    .navigation-bar a {
      line-height: 65px !important;
      transition: 0.3s;
      font-size: 18px;
      cursor: pointer; }
    .navigation-bar.small .menu {
      top: 65px; }
    .navigation-bar .menu {
      background-color: #2c2c2c !important;
      width: 300px !important;
      display: block;
      height: auto;
      margin: 0 auto !important;
      transition: all 0.3s;
      position: fixed;
      right: 0;
      top: 65px;
      bottom: 0;
      background-color: white;
      padding: 0 .5rem;
      border-left: 5px solid #c28800;
      overflow: hidden;
      transform: translate(100%);
      transition: all .3s; }
      .navigation-bar .menu.showed {
        transform: translate(0%);
        transition: all .3s; }
      .navigation-bar .menu.mobile-active {
        display: none; }
      .navigation-bar .menu li {
        display: block !important;
        width: 100%; }
        .navigation-bar .menu li:first-child {
          display: none !important; }
        .navigation-bar .menu li a {
          width: 50%;
          margin: 0 auto;
          font-size: 20px;
          color: #e5d9be;
          border-bottom: 5px solid #e5d9be;
          text-align: center;
          margin: 0 auto; }
          .navigation-bar .menu li a:hover {
            width: 70%;
            color: #c28800;
            border-bottom-color: #c28800;
            transition: width 0.3s ease-in-out; }
    .navigation-bar .menu-mobile {
      display: block; }
      .navigation-bar .menu-mobile li {
        float: left; }
        .navigation-bar .menu-mobile li:first-child {
          position: absolute;
          top: 0;
          left: 0; }
          .navigation-bar .menu-mobile li:first-child a {
            width: 230px;
            background-image: url(/Media/Images/Icons/logo-new.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position-y: 50%;
            color: transparent;
            cursor: pointer; }
            .navigation-bar .menu-mobile li:first-child a:hover {
              border-color: transparent !important; }
      .navigation-bar .menu-mobile .mobile-nav {
        float: right; }
        .navigation-bar .menu-mobile .mobile-nav a {
          font-size: 25px;
          color: #e5d9be; }
          .navigation-bar .menu-mobile .mobile-nav a:hover {
            color: #c28800;
            border-color: #c28800; } }

@media screen and (max-width: 478px) {
  .navigation-bar {
    max-width: 478px !important;
    width: 100% !important; } }

@font-face {
  font-family: 'Lato-Medium';
  src: url("/Resources/fonts/Lato-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Regular";
  src: url(/Resources/fonts/Montserrat-Regular.otf) format("truetype"); }

@font-face {
  font-family: "font-awesome";
  src: url(/Resources/fonts/fontAwesome/fontawesome-webfont.ttf) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff2) format("truetype"); }

body {
  background: url("/Resources/images/main-bg.png") fixed;
  background-size: cover; }
  body h2 {
    margin: 0 !important; }
  body .section-content {
    width: 1300px !important;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat-Regular" !important;
    overflow: hidden; }
    body .section-content.product {
      padding: 5rem 0; }
  body .header-content {
    top: 0;
    width: 100%; }
  body .footer-content {
    width: 100%;
    min-height: 70px;
    height: auto;
    overflow: hidden;
    background-color: #2c2c2c;
    color: black; }
    body .footer-content .center-social {
      text-align: center; }
      body .footer-content .center-social > div {
        display: inline-block; }
        body .footer-content .center-social > div .facebook, body .footer-content .center-social > div .insta {
          font-size: 18px;
          display: block;
          text-decoration: none;
          color: #e5d9be;
          border: 2px solid #e5d9be;
          border-radius: 100px;
          width: 30px;
          height: 30px;
          text-align: center;
          float: left;
          margin-top: 2rem;
          transition: all .3s;
          position: relative; }
          body .footer-content .center-social > div .facebook:before, body .footer-content .center-social > div .insta:before {
            font-family: "font-awesome";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
          body .footer-content .center-social > div .facebook:hover, body .footer-content .center-social > div .insta:hover {
            background-color: #e5d9be;
            color: #393E46;
            transition: all .3s; }
        body .footer-content .center-social > div .facebook {
          margin-right: .5rem; }
          body .footer-content .center-social > div .facebook:before {
            content: '\f09a'; }
        body .footer-content .center-social > div .insta:before {
          content: '\f16d'; }
    body .footer-content span {
      display: inline-block;
      text-align: center;
      line-height: 70px;
      color: #e5d9be;
      font-size: 14px; }
    body .footer-content__copy {
      width: 100%; }
    body .footer-content__developer {
      width: 100%; }
      body .footer-content__developer a {
        color: #e5d9be;
        text-decoration: underline; }
        body .footer-content__developer a:hover {
          color: #e5d9be;
          text-decoration: none; }
    body .footer-content__logo {
      width: 150px !important;
      margin: 0 auto;
      margin-top: 10px;
      cursor: pointer;
      transition: all 0.3s;
      transform: scale(0.8, 0.8); }
      body .footer-content__logo:hover {
        transition: all 0.3s;
        transform: scale(0.9, 0.9); }

@media screen and (max-width: 1300px) {
  body {
    background-position-x: -60px; }
    body .section-content {
      width: 100% !important;
      margin: 0 auto !important;
      transition: all 0.3s;
      padding: 0 40px !important; } }

@media screen and (max-width: 670px) {
  body {
    background-position-x: -120px !important; } }

@media screen and (max-width: 478px) {
  body .section-content {
    padding: 0 !important;
    max-width: 478px;
    width: 100%; } }

.product-content-section {
  height: auto;
  overflow: hidden;
  background-color: #222831;
  text-align: center;
  border-bottom-right-radius: 10em; }
  .product-content-section__title {
    margin-top: 10%;
    font-size: 30px;
    color: #c28800;
    display: block; }
  .product-content-section__text {
    padding: 20px 50px 90px 50px;
    font-size: 18px;
    color: #e5d9be;
    display: block; }
  .product-content-section .text-container {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    border-bottom-right-radius: 10em;
    margin-top: 100px; }
  .product-content-section .image-container {
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin-top: 100px; }
    .product-content-section .image-container__image {
      vertical-align: middle;
      width: 90%;
      height: auto;
      max-height: 420px;
      border-top-left-radius: 4.3em;
      border-bottom-right-radius: 4.3em;
      -webkit-box-shadow: 0px 0px 23px 7px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 23px 7px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 23px 7px rgba(0, 0, 0, 0.75); }

.caroulsel-container {
  background-color: #393E46;
  border-top-left-radius: 10em; }
  .caroulsel-container .single-item {
    display: none; }
  .caroulsel-container .slider {
    padding: 70px 0;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0px !important; }
    .caroulsel-container .slider .slick-dots {
      bottom: initial; }
      .caroulsel-container .slider .slick-dots li button:before {
        color: #e5d9be; }
    .caroulsel-container .slider .slick-slide {
      margin: 20px; }
      .caroulsel-container .slider .slick-slide a {
        color: transparent;
        font-size: 18px; }
        .caroulsel-container .slider .slick-slide a:focus {
          outline: none; }
      .caroulsel-container .slider .slick-slide:hover a {
        color: #c28800;
        text-decoration: none;
        transition: all .3s; }
      .caroulsel-container .slider .slick-slide img {
        width: 100%;
        height: 162px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        cursor: pointer;
        border-top-left-radius: 2.3em;
        border-bottom-right-radius: 2.3em;
        -webkit-box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.75);
        transition: all 0.3s; }
        .caroulsel-container .slider .slick-slide img:hover {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
          transition: all 0.3s; }
    .caroulsel-container .slider .slick-prev:before,
    .caroulsel-container .slider .slick-next:before {
      color: #e5d9be; }

@media screen and (max-width: 1300px) {
  .product-content-section {
    border-bottom-right-radius: 5em; }
    .product-content-section__text {
      padding-left: 20px;
      padding-right: 20px; } }

@media screen and (max-width: 991px) {
  .product-content-section .text-container {
    margin-top: 10rem; }
  .product-content-section__text {
    padding-bottom: 0; }
  .product-content-section .image-container {
    margin-top: 0;
    margin: 6em 0; }
    .product-content-section .image-container__image {
      max-width: 700px;
      height: auto;
      margin: 0; }
  .caroulsel-container {
    border-top-left-radius: 5em; }
    .caroulsel-container .center {
      display: none; }
    .caroulsel-container .single-item {
      display: block;
      max-width: 500px; } }

@media screen and (max-width: 478px) {
  .product-content-section__text {
    padding: 20px 0 40px 0 !important; }
  .product-content-section .image-container {
    display: none; }
  .slick-next, .slick-prev {
    display: none !important; } }

@font-face {
  font-family: 'Lato-Medium';
  src: url("/Resources/fonts/Lato-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat-Regular";
  src: url(/Resources/fonts/Montserrat-Regular.otf) format("truetype"); }

@font-face {
  font-family: "font-awesome";
  src: url(/Resources/fonts/fontAwesome/fontawesome-webfont.ttf) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff) format("truetype"), url(/Resources/fonts/fontAwesome/fontawesome-webfont.woff2) format("truetype"); }

